.button__login {
  display: inline-block;
  padding: 10px 40px;

  font-size: 17px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: $color-text-dark-blue;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;

  background-color: $color-background-gold;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: $color-background-vivid-orange;
  }

  &:active {
    color: rgba($color-text-dark-blue, 0.3);
  }
}
