
.button-with-arrow {
  position: relative;
  display: block;
  padding: 23px 24px 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: $color-text-blue;
  text-decoration: none;

  background-color: $color-background-gold;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 23px;
    border: 7px solid transparent;
    border-left: 7px solid $color-text-blue;
  }

  &:hover,
  &:focus {
    background-color: $color-background-mango-light;
  }

  &:active {
    background-color: $color-background-mango-light;
    color: rgba($color-text-blue, 0.3);

    &::before {
      border-left-color: rgba($color-text-blue, 0.3);
    }
  }
}
