.catalog {
  width: auto;
}

.catalog__wrapper {
  background-color: $color-background-main;
  width: auto;
}

.catalog__wrapper--indent {
  padding-bottom: 77px;
}

.catalog__inner {
  padding: 0 25px;
}
