.catalog {
  width: auto;
}

.catalog__wrapper {
  width: auto;
  padding: 43px 0 74px;

  background-color: $color-background-main;
}

.catalog__wrapper--indent {
  margin-top: -20px;
}

.catalog__inner {
  padding: 0 25px;
}


@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: 101px 0 117px;
  }

  .catalog__wrapper--indent {
    margin-top: -55px;
  }
  
  .catalog__inner {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
}
