.catalog {
  width: auto;
}

.catalog__wrapper {
  width: auto;

  background-color: $color-background-main;
}

.catalog__wrapper--indent {
  padding-bottom: 77px;
}

.catalog__inner {
  padding: 0 25px;
}


@media (min-width: $tablet-width) {
  .catalog__inner {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__inner {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
