.companions--index {
  position: relative;
  z-index: 4;

  width: 100%;
  overflow: hidden;

  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.companions__wrapper--index {
  padding: 0 25px;
}

.companions--index-indent {
  margin-top: -30px;
}

.companions--catalog {
  display: flex;
  flex-direction: column;
}

.companions__wrapper {
  position: relative;

  padding-top: 100px;
  padding-bottom: 30px;
}

.companions__inner-description {
  position: relative;

  padding: 0 25px;
}

.companions--index .companions__inner-description {
  &::before {
    top: -31px;
    right: 0;
    z-index: -1;

    width: 143px;
    height: 143px;

    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    border-radius: 10px;

    @include pseudo;
  }

  &::after {
    top: 241px;
    left: -35px;
    z-index: -1;

    width: 71px;
    height: 71px;

    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;

    @include pseudo;
  }
}

.companions__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 22px;

  &::before {
    top: -31px;
    left: -69px;
    z-index: -1;

    width: 132px;
    height: 132px;

    background-color: #141b3b;
    border-radius: 20px;

    @include pseudo;
  }
}

.companions__description {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 300;
  color: #ffffff;
}

.companions__lead {
  display: block;
  margin-bottom: 57px;

  font-weight: 700;
  color: #ffffff;
}

.companions__list {
  display: flex;
  flex-direction: column;
}

.companions__load-more {
  position: relative;

  display: inline-block;
  align-self: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $color-text-additional;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    top: 4px;
    left: -31px;

    width: 18px;
    height: 18px;

    background-image: url("../img/show-more-plus.svg");
    background-repeat: no-repeat;

    @include pseudo;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.companions--index .companions__list {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .companions--index {
    padding: 196px 0 88px;

    border-radius: 0 0 60px 60px;
  }

  .companions--index-indent {
    margin-top: -55px;
  }

  .companions__wrapper {
    padding: 0 75px;
  }

  .companions__inner-description {
    padding: 0;
  }

  .companions--index .companions__inner-description {
    &::before {
      top: 285px;
      left: -34px;
    }

    &::after {
      top: -61px;
      right: 0;
      left: auto;
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
      background-repeat: no-repeat;
      border-radius: 10px;
    }
  }

  .companions__title {
    margin-bottom: 59px;

    &::before {
      top: -61px;
      left: -35px;
      width: 213px;
      height: 213px;
    }
  }

  .companions__description {
    width: 425px;

    font-size: 28px;
    line-height: 33px;
    margin-bottom: 37px;
  }

  .companions__description .nowrap {
    white-space: nowrap;
  }

  .companions__lead {
    width: 260px;

    font-size: 21px;
    line-height: 25px;
  }

  .companions__lead .nowrap {
    white-space: nowrap;
  }

  .companions--index .companions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .companions--index {
    padding: 184px 0 134px;
  }

  .companions--index .companions__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 131px;
  }

  .companions--index .companions__inner-description {
    margin-right: auto;

    &::before {
      top: 4px;
      left: 416px;
    }

    &::after {
      top: 256px;
      left: 60px;
    }
  }


  .companions__title {
    &::before {
      left: -71px;
    }
  }

  .companions__lead {
    margin-bottom: 0;
  }

  .companions--index .companions__list {
    margin-bottom: 0;
    margin-top: 4px;
  }

  .companions__button {
    position: absolute;
    bottom: -1px;
    left: 130px;

    width: 280px;
  }
}
