.companions--index {
  position: relative;
  z-index: 4;

  width: 100%;
  overflow: hidden;

  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.companions__wrapper--index {
  padding: 0 25px;
}

.companions--index-indent {
  margin-top: -30px;
}

.companions--catalog {
  display: flex;
  flex-direction: column;
}

.companions__wrapper {
  padding-top: 100px;
  padding-bottom: 30px;
  position: relative;
}

.companions__inner-description {
  padding: 0 25px;
}

.companions__title {
  margin-bottom: 20px;
  margin-top: 0;
}

.companions__description {
  font-weight: 300;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.companions__lead {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 58px;
  display: block;
}

.companions__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.companions__load-more {
  position: relative;

  display: inline-block;
  align-self: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $color-text-additional;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    top: 4px;
    left: -31px;

    width: 18px;
    height: 18px;

    background-image: url("../img/show-more-plus.svg");
    background-repeat: no-repeat;

    @include pseudo;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .companions--index {
    padding: 192px 0 88px;
    border-radius: 0 0 60px 60px;
  }

  .companions--index-indent {
    margin-top: -55px;
  }

  .companions__wrapper {
    padding: 0 75px;
  }

  .companions__inner-description {
    padding: 0;
  }

  .companions__description {
    font-size: 28px;
    line-height: 33px;
    width: 425px;
  }

  .companions__lead {
    font-size: 21px;
    line-height: 25px;
    width: 260px;
  }

  .companions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .companions--index {
    padding: 180px 0 131px;
  }

  .companions--index .companions__wrapper {
    padding-left: 132px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions--index .companions__inner-description {
    margin-right: auto;
  }

  .companions__button {
    position: absolute;
    bottom: 0;
    left: 132px;
    width: 280px;
  }
}
