.contact-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-list__item {
  align-self: center;

  font-weight: 700;
  text-transform: uppercase;
}

.contact-list__link {
  position: relative;

  display: flex;
  align-items: center;

  text-decoration: none;

  &::before {
    top: 0;
    left: 0;

    width: 45px;
    height: 45px;
    margin-right: 16px;

    background-color: #121936;
    border-radius: 50%;

    @include pseudo("", relative);
  }

  &:hover,
  &:focus {
    color: #ffd74b;

    .contact-list__link-image--tel,
    .contact-list__link-image--email {
      fill: #ffbd30;
    }
  }

  &:active {
    color: rgba(#ffbd30, 0.3);

    .contact-list__link-image--tel,
    .contact-list__link-image--email {
      fill: rgba(#ffbd30, 0.3);
    }
  }
}

.contact-list__link-image--tel,
.contact-list__link-image--email {
  position: absolute;
  left: 14px;

  fill: #ffd74b;
}

.contact-list__link-image--tel {
  top: 14px;
}

.contact-list__link-image--email {
  top: 14px;
}

@media (min-width: $tablet-width) {
  .contact-list__item {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-list__link {
    font-size: 0;
  }
}
