.contact-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-list__item {
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
}

.contact-list__link {
  color: #192144;
  text-decoration: none;
}

.registration__contact-list .contact-list__link--tel,
.registration__contact-list .contact-list__link--email {
  color: #ffd74b;

  &:active {
    color: rgba(#ffd74b, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .contact-list__item {
    font-size: 28px;
    line-height: 28px;
  }
}


@media (min-width: $desktop-width) {
  .contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-list__link {
    font-size: 0;
  }
}
