.country-filter {
  position: relative;
  z-index: 1;

  width: auto;
  padding: 36px 0 27px;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.catalog__wrapper--indent {
  margin-top: -20px;
}

.country-filter__wrapper {
  padding: 0 25px;
}

.country-filter__nav {
  margin-bottom: 20px;
}

.country-filter__title {
  position: relative;

  margin: 0 0 30px 0;
  padding-left: 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #161c35;
  text-transform: uppercase;

  &::before {
    top: 6px;
    left: 0;

    width: 15px;
    height: 10px;

    background-image: url("../img/filter.svg");
    background-repeat: no-repeat;

    @include pseudo;
  }
}

.country-filter__toggle {
  position: absolute;
  top: 46px;
  right: 32px;

  width: 12px;
  height: 12px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #161c35;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;

  span {
    display: none;
  }

  &::before,
  &::after {
    top: 0;
    left: -2px;

    width: 16px;
    height: 2px;

    background-color: #161c35;

    @include pseudo;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }


  &:hover,
  &:focus {
    color: rgba(#161c35, 0.6);

    &::before,
    &::after {
      opacity: 0.6;
    }
  }

  &:active {
    color: rgba(#161c35, 0.3);

    &::before,
    &::after {
      opacity: 0.3;
    }
  }
}

.country-filter__continent {
  display: block;
  margin-left: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgba(#161c35, 0.3);
  text-transform: uppercase;

  background-color: transparent;
  border: 0;

  &--active {
    color: #161c35;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:hover,
  &:focus {
    color: rgba(#161c35, 0.6);
  }

  &:active {
    color: #161c35;
  }
}

.country-filter__popup {
  margin-right: 21px;
  margin-left: 25px;
}

.country-filter__letter-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.country-filter__letter {
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  background-color: transparent;
  border: 0;
}

