.country-icon {
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.country-icon--main .country-icon__image {
  width: 35px;
  height: 24px;
}

.country-icon__tooltip {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $color-text-blue;
  text-transform: uppercase;
}
