.country-icon {
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.country-icon--index .country-icon__image {
  width: 35px;
  height: 24px;
  background-image: url("https://via.placeholder.com/35x35");
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: block;
}

.country-icon__tooltip {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $color-text-additional;
  text-transform: uppercase;
}
