.destination {
  position: relative;
  z-index: 5;

  width: auto;
  overflow: hidden;

  background-color: $color-background-main;
  border-radius: 0 0 30px 30px;
}

.destination--indent {
  margin-top: -30px;
}

.destination__wrapper {
  position: relative;

  padding: 100px 25px 30px;
}

.destination__inner {
  margin-bottom: 61px;
  margin-left: 25px;
}

.destination__title {
  margin: 0 0 20px;
}

.destination__text {
  margin: 0;

  font-weight: 300;
  color: $color-text-main;
}

.destination__list {
  margin: 0 0 25px;
  padding: 0;
}

.destination__item {
  &:hover,
  &:focus {
    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
  }
}

.destination__item:not(:last-child) {
  margin-bottom: 10px;
}

.destination__image-link {
  display: block;
  width: 270px;
  height: 110px;
  overflow: hidden;

  border-radius: 10px 10px 0 0;
}

.destination__image {
  width: 270px;
  height: 110px;

  transform: scale(1);

  transition: all 0.3s;
}

.destination__item:hover .destination__image,
.destination__item:focus .destination__image {
  transform: scale(1.1);
}

.destination__caption {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding: 25px 25px 23px;

  background-color: $color-background-additional;
  border-radius: 10px;
}

.destination__link {
  text-decoration: none;
}

.destination__name {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #161c35;

  &:hover,
  &:focus {
    color: rgba(#161c35, 0.7);
  }

  &:active {
    color: rgba(#161c35, 0.3);
  }
}

.destination__description {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $color-text-main;

  opacity: 0.3;
}

.destination__traveler {
  margin: 0;

  color: $color-text-main;

  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .destination {
    padding: 120px 0 79px;

    border-radius: 0 0 60px 60px;
  }

  .destination--indent {
    margin-top: -55px;
  }

  .destination__wrapper {
    padding: 0 75px;
  }

  .destination__inner {
    position: relative;

    margin-bottom: 105px;
    margin-left: 0;

    &::after {
      top: 11px;
      right: -35px;
      z-index: -1;

      width: 289px;
      height: 575px;

      background: url("../img/flags-back@1x.png") no-repeat;
      border-radius: 20px;

      @include pseudo;
    }
  }

  .destination__title {
    margin-bottom: 60px;
  }

  .destination__text {
    width: 340px;

    font-size: 28px;
    line-height: 33px;
  }

  .destination__list {
    position: relative;

    margin-bottom: 48px;
  }

  .destination__item {
    display: flex;
    flex-direction: row;
  }

  .destination__image-link {
    display: block;
    order: 1;
    width: 186px;
    height: 140px;
    overflow: hidden;

    border-radius: 0 20px 20px 0;
  }

  .destination__image {
    width: 186px;
    height: 140px;
  }

  .destination__caption {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 29px 30px 18px;

    border-radius: 20px 0 0 20px;
  }

  .destination__name {
    font-size: 24px;
    line-height: 24px;
  }

  .destination__description {
    font-size: 20px;
    line-height: 17.68px;
  }

  .destination__traveler {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .destination {
    padding: 215px 0 150px;
  }

  .destination__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 132px;
  }

  .destination__inner {
    order: 1;
    margin-right: 105px;

    &::after {
      top: -75px;
      right: -179px;
    }
  }

  .destination__caption {
    width: 375px;
    padding-top: 21px;
  }

  .destination__button {
    position: absolute;
    right: 303px;
    bottom: -10px;

    width: 274px;
  }
}
