.introduce {
  background-color: #161c35;
  width: auto;
  position: relative;
}

.introduce__wrapper {
  padding: 0 25px 38px;

  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 54px 130px, 0 -75px;
}

.introduce__lead {
  display: block;
  margin-bottom: 250px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .introduce__wrapper {
    padding: 0 40px 0;
  }

  .introduce__lead {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
  }
}
