.introduce {
  position: relative;
  z-index: 7;

  width: auto;

  background-color: #161c35;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -51%;
}

.introduce__wrapper {
  padding: 0 25px 38px;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 54px 130px;
}

.introduce__lead {
  display: block;
  margin-bottom: 250px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .introduce {
    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-position: 50% 100%;
  }

  .introduce__wrapper {
    position: relative;

    padding: 0 40px 252px;

    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 280px 240px;
  }

  .introduce__lead {
    margin-bottom: 90px;
    margin-left: 110px;

    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }

  .introduce__contact-list-wrapper {
    display: none;
  }
}
