.main-header {
  position: relative;
  z-index: 2;

  width: auto;
  padding: 26px 0 13px;

  background-color: #161c35;
  border-radius: 0 0 20px 20px;
}

.main-header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.main-header__current-page {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;

  &::before {
    bottom: -14.5px;

    width: 173px;
    height: 5px;

    background-color: #ff8d30;
    border-radius: 2px;

    @include pseudo;
  }
}

.main-header__index-link {
  display: none;

  text-decoration: none;
}


@media (min-width: $tablet-width) {
  .main-header {
    width: auto;
    padding: 82px 0 68px;

    border-radius: 0 0 60px 60px;
  }


  .main-header__wrapper {
    padding: 0 75px;
  }

  .main-header__current-page {
    font-size: 60px;
    line-height: 70px;

    &::before {
      bottom: -72px;

      width: 287px;
      height: 8px;

      border-radius: 4px;
    }
  }

  .main-header__index-link {
    position: relative;

    display: block;
    margin-top: 10px;
    padding-right: 60px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;

    &::before {
      top: 3px;
      right: 0;

      width: 32px;
      height: 16px;

      background-image: url("../img/return.svg");
      background-repeat: no-repeat;

      @include pseudo;
    }

    &:hover,
    &:focus {
      color: rgba(#ffffff, 0.6);

      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      color: rgba(#ffffff, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .main-header {
    padding: 109px 0 62px;
  }

  .main-header__wrapper {
    padding-right: 125px;
    padding-left: 130px;
  }

  .main-header__current-page {
    &::before {
      bottom: -66px;
      left: 126px;
    }
  }
}
