.main-nav {
  width: auto;
  padding: 27px 0;

  background-color: #161c35;
}

.main-nav--opened {
  background-color: $color-background-additional;
  position: absolute;
  z-index: 16;
  width: 100%;
}

.main-nav--opened .page-header__wrapper {
  position: relative;
  z-index: 16;
}

.main-nav__wrapper {
  position: relative;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__nav-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

.main-nav__button-login {
  margin-top: 52px;
  padding-top: 10px;
  padding-bottom: 11px;

  text-align: center;

  border-radius: 25px;
}

.main-nav__contact-list {
  margin-top: 50px;
}

.main-nav__contact-list .contact-list__link--email,
.main-nav__contact-list .contact-list__link--tel {
  color: #161c35;
}

.main-nav__social-list-wrapper {
  align-self: center;
  margin-top: 30px;
}

@media (max-width: $exclude-desktop-width) {
  .main-nav__toggle {
    position: absolute;

    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--closed .main-nav__button-login,
  .main-nav--closed .main-nav__contact-list,
  .main-nav--closed .main-nav__social-list-wrapper {
    display: none;
  }

  .main-nav--closed .main-nav__nav-inner {
    padding: 0;
  }

  .main-nav--closed .main-nav__toggle {
    top: 3px;
    right: 0;

    width: 25px;
    height: 11px;

    background-color: transparent;

    &::before {
      top: 0;
      left: 0;

      width: 25px;
      height: 3px;

      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 8px 0 0 #ffffff;

      @include pseudo;
    }
  }

  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: 5px;

    width: 19px;
    height: 19px;

    background-color: transparent;

    &::before,
    &::after {
      top: 9px;
      left: -4px;

      width: 25px;
      height: 2px;

      background-color: #cccccc;

      @include pseudo;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  //.page-header--scrolled .main-nav__toggle {
  //  &::before {
  //    background-color: #cccccc;
  //    box-shadow: 0 8px 0 0 #cccccc;
  //  }
  //}
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 45px 0;

    background-color: #182044;
  }

  .main-nav--opened {
    background-color: #ffffff;
  }

  .main-nav--closed .main-nav__toggle {
    right: 331px;
    top: 16px;
  }

  .main-nav--opened .main-nav__toggle {
    right: 331px;
    top: 16px;
  }

  .main-nav--closed .main-nav__button-login {
    display: block;
  }

  .main-nav--closed .main-nav__button-login,
  .main-nav__button-login {
    position: absolute;
    top: -47px;
    right: 0;

    margin: 0;
  }

  .main-nav__nav-inner {
    padding: 93px 0 75px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 47px 0 20px;

    background-color: transparent;
  }

  .main-nav__nav-wrapper {
    flex-grow: 1;
  }

  .main-nav__nav-inner {
    flex-direction: row;
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__button-login {
    position: static;

    order: 1;
    margin: 0;
  }

  .main-nav__contact-list {
    margin: 0 0 0 auto;
  }

  .main-nav__social-list {
    display: none;
  }
}
