.map {
  position: relative;

  width: 100%;
  height: 330px;
  margin: 0 auto;
  overflow: hidden;

  background-color: $color-background-main;
}

.map--indent {
  margin-top: -30px;
}

@media (min-width: $tablet-width) {
  .map {
    height: 570px;
  }

  .map--indent {
    margin-top: -55px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 505px;
  }
}
