.page-header {
  background-color: #161c35;
  min-height: 73px;
  position: relative;
  width: auto;
}

.page-header__main-wrapper {
  margin: 0 auto;
}

.page-header__wrapper {
  padding: 0 25px;
}

.page-header__logo {
  display: block;
  width: 100px;
}

.page-header__logo-image {
  display: block;
  height: 19px;
}

.page-header--scrolled .page-header__main-wrapper {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.page-header--scrolled .main-nav {
  background-color: #ffffff;
}


@media (min-width: $tablet-width) {
  .page-header {
    min-height: 132px;
  }

  .page-header__wrapper {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: #161c35;
    min-height: 100px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
}
