.page-header {
  background-color: $color-background-additional;
}

.page-header__wrapper {
  padding: 0 25px;
}

.page-header__logo {
  display: block;
  width: 100px;
}

.page-header__logo-image {
  display: block;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: #161c35 ;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
}
