.pagination {
  text-align: center;
}

.pagination__wrapper {
  background-color: $color-background-additional;
  border-radius: 20px;
  position: relative;

  &::before {
    top: 0;
    left: 135px;

    width: 1px;
    height: 50px;

    background-color: #edeff6;

    @include pseudo;
  }
}

.pagination__list {
  display: none;

  @include ul-reset;
}

.pagination__arrows {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 19px 0 0 0;

  list-style: none;
}

.pagination__button {
  position: relative;
  display: block;
  width: 135px;
  height: 50px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.pagination__button--prev {
  &::before {
    top: 15px;
    left: 63px;

    border-top: 10px solid transparent;
    border-right: 10px solid #192144;
    border-bottom: 10px solid transparent;

    @include pseudo;
  }
}

.pagination__button--next {
  &::before {
    top: 15px;
    right: 62px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #192144;

    @include pseudo;
  }
}


@media (min-width: $tablet-width) {
  .pagination__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 25px 28px;
  }

  .pagination__list {
    display: flex;
    align-items: flex-start;
  }

  .pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #161c35;
    text-decoration: none;
  }
}
