.price-list {
  position: relative;
  z-index: 3;

  width: 100%;
  overflow: hidden;

  background-color: $color-background-main;
  border-radius: 0 0 30px 30px;
}

.price-list--indent {
  margin-top: -30px;
}

.price-list__wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px 25px 40px 50px;
}

.price-list__lead {
  position: relative;

  width: 115px;
  margin-bottom: 55px;

  &::before {
    top: -13px;
    right: -129px;

    width: 99px;
    height: 99px;

    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include pseudo;
  }
}

.price-list__list,
.price-list__service,
.price-list__offer {
  margin: 0;
  padding: 0;
}

.price-list__list {
  margin-bottom: 20px;

  font-weight: 300;
  color: $color-text-main;
}

.price-list__service {
  position: relative;

  &::after {
    top: -7px;
    right: 0;

    width: 34px;
    height: 34px;
    padding-top: 10px;

    text-align: center;
    color: #ffffff;

    background-color: #ffa530;
    border-radius: 50%;

    @include pseudo("");
  }

  &:nth-of-type(1)::after {
    @include pseudo("1");
  }

  &:nth-of-type(2)::after {
    background-color: #ffbd30;

    @include pseudo("2");
  }

  &:nth-of-type(3)::after {
    background-color: #ffd74b;

    @include pseudo("3");
  }
}

.price-list__offer {
  position: relative;

  margin-bottom: 22px;

  &:nth-of-type(1)::after {
    top: -33px;
    right: 20px;

    width: 200px;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.05);

    @include pseudo;
  }

  &:nth-of-type(2)::after {
    top: -33px;
    right: 20px;

    width: 200px;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.05);

    @include pseudo;
  }

  &:nth-of-type(3)::after {
    top: -33px;
    right: 20px;

    width: 200px;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.05);

    @include pseudo;
  }

  &:nth-of-type(3)::before {
    top: 33px;
    right: 20px;

    width: 200px;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.05);

    @include pseudo;
  }
}

.price-list__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #192144;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .price-list {
    padding: 129px 0 83px;

    border-radius: 0 0 60px 60px;
  }

  .price-list--indent {
    margin-top: -55px;
  }

  .price-list__wrapper {
    padding: 0 40px;
  }

  .price-list__lead {
    width: auto;
    margin-bottom: 91px;

    text-align: center;

    &::before {
      top: 335px;
      right: 46px;
      z-index: 2;
    }

    &::after {
      top: 80px;
      right: 0;
      z-index: 1;

      width: 198px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 20px;

      @include pseudo;
    }
  }

  .price-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .price-list__service,
  .price-list__offer {
    font-size: 28px;
    line-height: 33px;
  }

  .price-list__service {
    width: 60%;
    margin-bottom: 33px;
    padding-left: 90px;

    &::after {
      top: -18px;
      left: 0;

      width: 67px;
      height: 67px;
      padding-top: 20px;

      font-size: 28px;
      line-height: 28px;
    }
  }

  .price-list__offer {
    z-index: 3;

    padding-right: 34px;

    &:nth-of-type(1)::after {
      top: -15px;
      right: 35px;

      width: 562px;
    }

    &:nth-of-type(2)::after {
      top: -15px;
      right: 35px;

      width: 562px;
    }

    &:nth-of-type(3)::after {
      top: -15px;
      right: 35px;

      width: 562px;
    }

    &:nth-of-type(3)::before {
      top: 45px;
      right: 35px;

      width: 562px;
    }
  }

  .price-list__button {
    position: relative;

    align-self: flex-start;
    padding-left: 90px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -24px;
      left: 0;

      width: 67px;
      height: 67px;

      background-color: #e2e5f2;
      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px;
      border-radius: 50%;

      @include pseudo;
    }
  }
}

@media (min-width: $desktop-width) {
  .price-list {
    padding: 162px 0 185px;
  }

  .price-list__wrapper {
    padding: 0 132px;
  }

  .price-list__lead {
    margin-bottom: 150px;

    &::before {
      top: 179px;
      right: 2px;

      width: 198px;
      height: 198px;
    }
  }

  .price-list__offer {
    padding-right: 273px;
  }

  .price-list__button {
    &::before {
      top: -28px;
    }
  }
}
