.review {
  background-color: #161c35;
  margin: 0;
  padding: 0;
}

.review__text,
.review__author {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.review__text {
  font-weight: 300;
}

.review__author {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .review {
    width: 298px;

    background-color: transparent;
  }

  .review__text {
    font-size: 28px;
    line-height: 33px;
  }

  .review__author {
    font-size: 21px;
    line-height: 25px;
  }
}

