.review {
  background-color: #161c35;
}

.review__text,
.review__author {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.review__text {
  font-weight: 300;
}

.review__author {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .review {
    background-color: transparent;
    width: 300px;
  }

  .review__text,
  .review__author {
    font-size: 28px;
    line-height: 33px;
  }
}
