.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  text-align: center;
  overflow: hidden;
}

.site-list__link {
  overflow: hidden;
  color: $color-text-grey-blue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  &:hover {
    color: $color-text-gold;
  }
}

.site-list__link:hover .site-list__text,
.site-list__link:focus .site-list__text {
  transform: translateY(-100%);
}

.site-list__text {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;

  &:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0,0,0);
  }
}

