.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include ul-reset;
}

.social-list__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  font-size: 0;
  text-align: center;

  background-color: #ffd74b;
  border-radius: 50%;

  &--fb {
    &::before {
      top: 13px;
      left: 17px;

      width: 11px;
      height: 21px;

      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;

      @include pseudo;
    }
  }

  &--vk {
    &::before {
      top: 18px;
      left: 11px;

      width: 23px;
      height: 12px;

      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;

      @include pseudo;
    }
  }

  &--in {
    &::before {
      top: 14px;
      left: 14px;

      width: 18px;
      height: 18px;

      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;

      @include pseudo;
    }
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    .social-list__image {
      opacity: 0.3;
    }

    &::before {
      opacity: 0.3;
    }
  }
}

.social-list__link--page-footer {
  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: #192144;

    .social-list__image {
      fill: #ffffff;
    }
  }
}

.social-list__link--fb .social-list__image {
  width: 11px;
  height: 21px;
}

.social-list__link--vk .social-list__image {
  width: 23px;
  height: 12px;
}

.social-list__link--in .social-list__image {
  width: 18px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .social-list__link {
    width: 60px;
    height: 60px;

    &--fb {
      &::before {
        top: 16px;
        left: 23px;
        width: 14px;
        height: 28px;
      }
    }

    &--vk {
      &::before {
        top: 23px;
        left: 14px;
        width: 31px;
        height: 16px;
      }
    }

    &--in {
      &::before {
        top: 18px;
        left: 18px;
        width: 24px;
        height: 24px;
      }
    }
  }

  .social-list__link--fb .social-list__image {
    width: 14px;
    height: 28px;
  }

  .social-list__link--vk .social-list__image {
    width: 31px;
    height: 16px;
  }

  .social-list__link--in .social-list__image {
    width: 24px;
    height: 24px;
  }
}
