.tooltip {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  margin: 0;
  padding: 17px 21px 16px;

  color: #ffffff;
  text-transform: none;
  white-space: nowrap;

  background-color: #101d41;
  border-radius: 4px;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  &::before {
    top: -8px;
    left: calc(50% - 8px);

    border-right: 8px solid transparent;
    border-bottom: 8px solid #101d41;
    border-left: 8px solid transparent;

    @include pseudo;
  }
}
