.user {
  position: relative;

  padding: 12px 20px 23px;

  background-color: $color-background-additional;
  border-radius: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.user:hover .user__image,
.user:focus .user__image {
  transform: scale(1.1);
}

.user__name {
  position: relative;
}

.user__name-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $color-text-additional;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-text-additional, 0.6);
  }

  &:active {
    color: rgba($color-text-additional, 0.3);
  }
}

.user__tags {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $color-text-main;
  width: 180px;
  margin: 0 0 0 5px;
}

.user__image-link {
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.user__image {
  transform: scale(1);

  transition: all 0.3s;
  width: 70px;
  height: 70px;
}

.user__destination-text {
  font-size: 15px;
  line-height: 18px;
  color: $color-text-main;
}

.user__travel-mode {
  margin: 0 0 20px 5px;
}

.user__level {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 20px;
  bottom: 77px;
  padding-top: 14px;
  text-align: center;
  color: #1d2e5b;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
}

.user__level-content {
  padding-top: 4px;
}

.user__level-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.user__level-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
}


.user--index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  border-radius: 10px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
  }
}

.user--index .user__image-link {
  position: static;

  order: -1;
  width: 270px;
  height: 270px;

  border-radius: 10px 10px 0 0;
}

.user--index .user__image {
  width: 270px;
  height: 270px;
}

.user--index .user__country-icon-list {
  position: absolute;
  top: 258px;
  display: flex;
  flex-direction: row;
  margin: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.user--index .country-icon__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 18px 0 0;

  &:last-child {
    margin: 0;
  }
}

.user--index .country-icon__item:hover,
.user--index .country-icon__item:focus {
  .country-icon__tooltip {
    display: block;
  }
}

.user--index .country-icon__tooltip {

}

.user--index .status {
  &::before {
    top: 9px;
    left: -16px;
  }
}

.user--index .user__name {
  margin-top: 26px;
  margin-bottom: 14px;
}

.user--index .user__tags {
  text-align: center;
  color: $color-text-main;
  margin-left: 0;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.user--index:nth-child(2) .user__tags {
  margin-left: 15px;
}

.user--index .user__travel-type {
  margin-bottom: 17px;
  margin-left: 0;
}

.user--index .travel-type__image--plane {
  width: 19px;
  height: 21px;
}

.user--index .travel-type__image--auto {
  width: 17px;
  height: 21px;
}

.user--index .travel-type__image--bicycle {
  width: 24px;
  height: 21px;
}

.user--index .travel-type__image--walk {
  width: 20px;
  height: 21px;
}

.user--index .user__level {
  top: 16px;
  left: 17px;
  width: 60px;
  height: 60px;
  padding-top: 11px;
  color: #ffffff;
  background-color: rgba(#000000, 0.6);
  font-size: 24px;
  line-height: 1;

  &::after {
    top: 35px;
    left: 14px;

    width: 31px;
    height: 1px;

    background-color: #ffffff;
    opacity: 0.3;

    @include pseudo;
  }
}

@media (min-width: $tablet-width) {
  .user--index:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .user--index:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }
}
