.user {
  position: relative;

  padding: 13px 20px 23px;

  background-color: $color-background-additional;
  border-radius: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.user:hover .user__image,
.user:focus .user__image {
  transform: scale(1.1);
}

.user__name {
  position: relative;

  width: 80px;
  margin-top: 0;
  margin-bottom: 45px;
  margin-left: 84px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.user__name-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $color-text-additional;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($color-text-additional, 0.7);
  }

  &:active {
    color: rgba($color-text-additional, 0.3);
  }
}

.user__name:hover .status,
.user__name:focus .status {
  opacity: 0.7;
}

.user__name:active .status {
  opacity: 0.3;
}

.user__tags {
  width: 180px;
  margin: 0 0 13px 5px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $color-text-main;
}

.user__likes {
  position: absolute;
  top: 60px;
  left: 66px;

  padding: 0;

  background-color: transparent;
  border: 0;
}

.user__likes--checked .user__likes-count {
  &::before {
    background-color: #f9eaea;
  }

  &::after {
    background: url("../img/heart-active.svg");
    opacity: 1;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }

    &::before {
      background-color: #f9d8d8;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

.user__likes-count {
  padding-left: 38px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  &::before {
    top: -6px;
    left: 0;

    width: 31px;
    height: 31px;

    background-color: #edeff6;
    border-radius: 50%;

    @include pseudo;
  }

  &::after {
    top: 4px;
    left: 9px;

    width: 13px;
    height: 11px;

    background: url("../img/heart.svg");
    opacity: 0.3;

    @include pseudo;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: #e2e5f2;
    }

    &::after {
      opacity: 0.5;
    }
  }

  &:active {
    &::after {
      opacity: 0.1;
    }
  }
}

.user__likes-count--original {
  display: block;
}

.user__likes-count--tablet {
  display: none;
}

.user__image-link {
  position: absolute;
  top: 14px;
  left: 18px;

  width: 70px;
  height: 70px;
  overflow: hidden;

  border-radius: 50%;
}

.user__image {
  width: 70px;
  height: 70px;

  transform: scale(1);

  transition: all 0.3s;
}

.user__destination-text {
  position: relative;
  z-index: 1;

  margin: 0 0 17px 5px;

  font-size: 15px;
  line-height: 18px;
  color: $color-text-main;

  &::before {
    top: 10px;
    left: -25px;
    z-index: -1;

    width: 270px;
    height: 1px;

    background: #edeff6 linear-gradient(90deg, #edeff6 0, #edeff6 14px, #ffffff 14px, #ffffff 132px, #edeff6 132px, #edeff6 100%);

    @include pseudo;
  }
}

.user__country-icon-list {
  position: relative;
  z-index: 1;

  min-height: 52px;
  margin: 0 0 11px 5px;
}

.user__travel-text {
  position: relative;
  z-index: 1;

  width: 100%;
  margin: 0 0 15px 5px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $color-text-main;

  &::before {
    top: 10px;
    left: -25px;
    z-index: -1;

    width: 270px;
    height: 1px;

    background: #edeff6 linear-gradient(90deg, #edeff6 0, #edeff6 14px, #ffffff 14px, #ffffff 105px, #edeff6 105px, #edeff6 196px, #ffffff 196px, #ffffff 259px, #edeff6 259px, #edeff6 100%);

    @include pseudo;
  }
}

.user__travel-type {
  position: relative;
  z-index: 1;

  margin: 0 0 20px 2px;
}

.user__level {
  position: absolute;
  right: 20px;
  bottom: 77px;

  width: 45px;
  height: 45px;
  padding-top: 14px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #1d2e5b;

  background-color: #ffffff;
  border-radius: 50%;
}

.user__level-content {
  padding-top: 4px;
}

.user__level-number {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.user__level-description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}


.user--index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  border-radius: 10px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
  }
}

.user--index .user__name-link {
  font-size: 21px;
  line-height: 21px;
}

.user--index .user__image-link {
  position: static;

  order: -1;
  width: 270px;
  height: 270px;

  border-radius: 10px 10px 0 0;
}

.user--index .user__image {
  width: 270px;
  height: 270px;
}

.user--index .user__country-icon-list {
  position: absolute;
  top: 258px;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.user--index .country-icon__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 18px 0 0;

  &:last-child {
    margin: 0;
  }
}

.user--index .country-icon__item:hover,
.user--index .country-icon__item:focus {
  .country-icon__tooltip {
    display: block;
  }
}

.user--index .status {
  &::before {
    top: 7px;
    left: -16px;
  }
}

.user--index .user__name {
  width: auto;
  margin-top: 26px;
  margin-bottom: 14px;
  margin-left: 0;
}

.user--index .user__tags {
  margin-bottom: 10px;
  margin-left: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $color-text-main;
}

.user--index:nth-child(2) .user__tags {
  margin-left: 15px;
}

.user--index .user__travel-type {
  margin-bottom: 17px;
  margin-left: 0;
}

.user--index .travel-type__item {
  background-color: transparent;
}

.user--index .travel-type__image--plane {
  width: 19px;
  height: 21px;
}

.user--index .travel-type__image--auto {
  width: 17px;
  height: 21px;
}

.user--index .travel-type__image--bicycle {
  width: 24px;
  height: 21px;
}

.user--index .travel-type__image--walk {
  width: 20px;
  height: 21px;
}

.user--index .user__level {
  top: 16px;
  left: 17px;

  width: 60px;
  height: 60px;
  padding-top: 11px;

  font-size: 24px;
  line-height: 1;
  color: #ffffff;

  background-color: rgba(#000000, 0.6);

  &::after {
    top: 35px;
    left: 14px;

    width: 31px;
    height: 1px;

    background-color: #ffffff;
    opacity: 0.3;

    @include pseudo;
  }
}

.user__invite-button {
  padding: 6px 79px 2px;
}

.user--catalog {
  .user__level {
    right: 22px;
    bottom: 85px;
    z-index: 1;

    width: auto;
    height: auto;
    padding: 0;
  }

  .user__level-content {
    padding: 0;
  }

  .user__level-text {
    margin: 0 0 19px 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: $color-text-main;
  }

  .user__level-description {
    display: none;
  }
}

.user--id3 .user__country-icon-list {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .user--catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 31px 35px 22px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .user__travel-type {
      position: absolute;
      top: 38px;
      right: 43px;

      margin: 0;
    }

    .travel-type {
      flex-direction: column;
    }

    .travel-type__item {
      width: auto;
      height: auto;

      background-color: transparent;

      &:nth-of-type(1) {
        margin-bottom: 12px;
      }

      &:nth-of-type(2) {
        margin-bottom: 9px;
      }

      &:nth-of-type(3) {
        margin-bottom: 13px;
      }
    }

    .user__level {
      right: 42px;
      bottom: 111px;
    }

    .user__level-text {
      display: none;
    }

    .user__level-description {
      display: block;
    }
  }

  .user--id3 .user__country-icon-list {
    margin-bottom: 0;
  }

  .user__name {
    width: auto;
    margin-bottom: 18px;
    margin-left: 223px;

    font-size: 30px;
    line-height: 30px;
  }

  .user__name-link {
    font-size: 30px;
    line-height: 30px;
  }

  .user__tags {
    width: 225px;
    margin-bottom: 47px;
    margin-left: 225px;

    font-size: 20px;
    line-height: 24px;
  }

  .user__image-link {
    top: 35px;
    left: 35px;

    width: 190px;
    height: 190px;

    border-radius: 20px;
  }

  .user__image {
    width: 190px;
    height: 190px;
  }

  .user__likes {
    top: 185px;
    left: 405px;
  }

  .user__likes-count {
    padding-left: 55px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      top: -11px;

      width: 50px;
      height: 50px;
    }

    &::after {
      top: 6px;
      left: 15px;

      width: 20px;
      height: 17px;
    }
  }

  .user__likes-count--original {
    display: none;
  }

  .user__likes-count--tablet {
    display: block;
  }

  .user__destination-text {
    order: 1;
    width: 100%;
    margin-left: 48px;

    &::before {
      left: -84px;

      width: 688px;

      background: linear-gradient(90deg, #edeff6 0, #edeff6 71px, #ffffff 71px, #ffffff 189px, #edeff6 189px, #edeff6 100%);
    }
  }

  .user__country-icon-list {
    order: 1;
    min-height: 30px;
    margin: 0;
  }

  .user__invite-button {
    margin-bottom: 21px;
    margin-left: 219px;
    padding: 10px 33px;
  }

  .user--index {
    border-radius: 20px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .user--index:nth-child(2) .user__tags {
    margin-left: 0;
  }

  .user--index .user__name {
    margin-top: 29px;
    margin-bottom: 22px;

    font-size: 24px;
    line-height: 24px;
  }

  .user--index .status::before {
    top: 10px;
    left: -22px;
  }

  .user--index .user__name-link {
    font-size: 24px;
    line-height: 24px;
  }

  .user--index .user__image-link {
    width: 285px;
    height: 285px;

    border-radius: 20px 20px 0 0;
  }

  .user--index .user__image {
    width: 285px;
    height: 285px;
  }

  .user--index .user__country-icon-list {
    top: 273px;
  }

  .user--index .user__tags {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 24px;
  }

  .user--index .user__travel-type {
    flex-direction: row;
    margin-bottom: 23px;
  }

  .user--index .user__level {
    top: 20px;
    left: 20px;
  }

  .user__travel-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user--catalog {
    padding: 47px 0;
  }

  .user:not(:last-child) {
    margin-bottom: 29px;
  }

  .user--index:not(:last-child) {
    margin-right: 60px;
    margin-bottom: 0;
  }

  .user--index .user__name {
    margin-top: 32px;
    margin-bottom: 19px;
  }

  .user--index .user__travel-type {
    margin-bottom: 22px;
  }

  .user--index .user__level {
    top: 23px;
    left: 23px;
  }
}
